@import "tailwindcss";

:root {
  --background: #21262a;
  --foreground: #254A5F;
  --foreground-border: #899ca9; 
  
  --text: #ededed;
  --text-contrast: #1c1917;

  --accent: #88af5e;
  --accent-border: #60992D;
  --accent-hover: #ade96d;
  --accent-border-hover: #73c02f;

  --tertiary: #DFEDF6;
  /* --tertiary-border: ; */
}

@theme {
  --font-main: var(--font-roboto);

  --color-*: initial;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-border: var(--foreground-border); 
  
  --color-text: var(--text);
  --color-text-contrast: var(--text-contrast);

  --color-accent: var(--accent);
  --color-accent-border: var(--accent-border);
  --color-accent-hover: var(--accent-hover);
  --color-accent-border-hover: var(--accent-border-hover);

  --color-tertiary: var(--tertiary);
  /* --color-tertiary-border: ; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #213542;
    --text: #ededed;
    --text-dark: #1c1917;
    --foreground: #254A5F;

    --secondary: #8CAE68;
    --secondary-border: #60992D;

    --tertiary: #DFEDF6;
    --tertiary-border: ;
  }
} */

body {
  /* background: var(--background); */
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}
